<!DOCTYPE html>
<html>
<head>
	<title>Required Fields for Survay</title>
    <link href ="css/style.css" rel ="stylesheet">
</head>
<body>
<form>   
    <h1>Individual/ Individual 20%20%</h1>
    <hr>
    <h2>Yellow highlight = both</h2>
    <h3>Individual form</h3>
    State: <input type ="text" name ="state"><p>
    <p>County: <input type ="text" name ="county"><p>
    PDA Date: <input type ="text" name ="PDAdate"><p>
    Incident Type: <input type ="text" name ="incidenttype"><p>
    Area/Municipality: <input type ="text" name ="area/municipality"><p>
    Page#__: <input type ="number" name ="page"><p>
    <h3>PDA Team</h3>
        FEMA: <input type ="text" name ="team"><p>
    <h3>PDA Team</h3>
        SBA: <input type ="text" name ="team"><p>
    <h3>HM/Local/Other</h3>
    <table>
        <tr> 
            <th>3 Categories:</th>
            <th>Single</th>
            <th>Family</th>
            <th>Multi-Family</th>
            <th>Mobile-Home</th>
        </tr>
        <tr>
            <td>OWNER</td>
        </tr>
        <tr>
            <td>RENTER</td>
        </tr>
        <tr>
            <td>SECONDARY</td>
        </tr>
    </table>
    Affected: <input type ="number" name ="affected"><p>
    Minor: <input type ="number" name ="minor"><p>
    Major: <input type ="number" name ="major"><p>
    Destroyed: <input type ="number" name ="destroyed"><p>
    Total Primary: <input type ="number" name ="totalprimary"><p>
    Total Secondary: <input type ="number" name ="totalsecondary"><p>
    Total (Including Secondary): <input type ="number" name ="total"><p>
    #Roads/Bridges Damged: <input type ="number" name ="damages"><p>
    #Households Impacted: <input type ="number" name ="impacted"><p>
    #Households Without Utilities: <input type ="number" name ="Utilities"><p>
    Estinated Date For Utility Restoration: <input type ="number" name ="Restoration"><p>
    Comments: <input type ="text" name ="Comments"><p>

    <h2>Individual 20%20% Form:</h2>
    <hr>
    Name: <input type ="text" name ="user_name"><p>
    Street Address: <input type ="number" name ="address"><p>
    City: <input type ="text" name ="City"><p>
    Code: <input type ="text" name ="Code"><p>
    Zip Code: <input type ="number" name ="ZipCode"><p>
    Date: <input type ="number" name ="Date"><p>
    Longitude: <input type ="number" name ="Longitude"><p>
    Latitude: <input type ="number" name ="Latitude"><p>
    Location Notes: <input type ="text" name ="Location"><p>
    <h3>Primary Home</h3>
        <input type ="radio" name ="home" value ="Yes">Yes<p>
        <input type ="radio" name ="home" value ="No">No<p>
    <h3>Renter</h3>
        <input type ="radio" name ="renter" value ="Yes">Yes<p>
        <input type ="radio" name ="renter" value ="No">No<p>

    <table>
        <tr>
            <th>Damage Category</th>
        </tr>
        <tr>
            <th>Home</th>
            <th>Mobile Home</th>
        </tr>
        <tr>
            <td>Destroyed: <input type ="text" name ="destroyed"></td>
        </tr>
        <tr>
            <td>Major: <input type ="text" name ="major"></td>
        </tr>
        <tr>
            <td>Minor: <input type ="text" name ="minor"></td>
        </tr>
        <tr>
            <td>Affected: <input type ="text" name ="affected"></td>
        </tr>
        <tr>
            <td>Inaccessible: <input type ="text" name ="Inaccessible"></td>
        </tr>
    </table>

    <table>
        <tr>
            <th>Particular Damage</th>
        </tr>
        <tr>
            <th>Home(%)</th>
            <th>Mobile Home(%)</th>
        </tr>
        <tr>
            <td>Foundation: <input type ="number" name ="Foundation"></td>
        </tr>
        <tr>
            <td>Floor(Frame): <input type ="number" name ="Floor"></td>
        </tr>
        <tr>
            <td>Exterior Walls: <input type ="number" name ="Exteriorwalls"></td>
        </tr>
        <tr>
            <td>Interior Walls: <input type ="number" name ="Interiorwalls"></td>
        </tr>
        <tr>
            <td>Roof: <input type ="number" name ="Roof"></td>
        </tr>
        <tr>
            <td>Painting: <input type ="number" name ="Painting"></td>
        </tr>
        <tr>
            <td>Heating/A.C.: <input type ="number" name ="Heating"></td>
        </tr>
        <tr>
            <td>Electrical: <input type ="number" name ="Electrical"></td>
        </tr>
        <tr>
            <td>Total % Damaged: <input type ="number" name ="total"></td>
        </tr>
    </table>

    Estimated Replacement Cost $: <input type ="number" name ="cost"><p>
    Estimated Structural Damage $: <input type ="number" name ="damage"><p>
    Estimated Damage To Contents $: <input type ="number" name ="Contents"><p>
    <h4>Flood Insurance</h4>
        <input type ="radio" name ="Insurance" value ="Yes">Yes<p>
        <input type ="radio" name ="Insurance" value ="No">No<p>
    <h4>Basement Water</h4>
        <input type ="radio" name ="Basement" value ="Yes">Yes<p>
        <input type ="radio" name ="Basement" value ="No">No<p>
    <h4>First Floor Water</h4>
        <input type ="radio" name ="FFWater" value ="Yes">Yes<p>
        <input type ="radio" name ="FFWater" value ="No">No<p>
    Height Water(#Inches:): <input type ="number" name ="heightwater"><p>

    Additional Comments: <input type ="text" name ="Additionalcomments"><p>
    <input type ="submit" value="Submit"><p>
</form>
</body>
</html>